<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skam">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/skamer"
        android:label="Gendis Capture"
        android:roundIcon="@mipmap/skamer_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".LogInScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".watchme"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Camera"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <provider
            android:name=".uri.GenericFileProvider"
            android:authorities="${applicationId}.uri"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Instructions"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiseaseInfo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Start"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Project"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Adviser"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChickenPox"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Acne"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Eczema"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PityriasisRosea"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Psoriasis"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vtiligo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".AboutUs2"></activity>
    </application>

</manifest>